{% extends "base.html" %}

{% block content %}
<div class="container-fluid bg-white border-top border-bottom shadow " xmlns="http://www.w3.org/1999/html">
    <div class="container">
        {% if form.errors %}
        {% for field, errors in form.errors.items() %}
        {% for error in errors %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
        {% endfor %}
        {% endfor %}
        {% endif %}


        <form method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {{ form.name(class="form-control mt-4", placeholder = form.name.label.text ) }}
            {{ form.price(class="form-control mt-4", placeholder = form.price.label.text ) }}
            {{ form.img(class="form-control mt-4", placeholder = form.img.label.text, accept =".jpg,.png,.jpeg") }}
            {{ form.category(class="form-control mt-4", placeholder=form.category.label.text) }}

            {{ form.submit(class="btn btn-warning my-4",) }}
        </form>
    </div>
</div>

{% endblock %}
