{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="text-center">
        <h1 class="display-4" style="letter-spacing: 5px;">S e a r c h R e s u l t s</h1>
    </div>
    {% for product in products %}
    <div class="col">
        <div class="container-md" style="margin-top: 50px;">
            <hr>
            <div class="card" style="width: 18rem;">
                <img src="/static/{{ product.img }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">{{ product.name }}</h4>
                    <h4 class="card-text">{{ product.price }}₾</h4>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="input-group">
                                <div class="input-group-text bg-warning">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-cart-fill" viewBox="0 0 16 16">
                                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                    </svg>
                                    <div>
                                        <a href="/product/{{ product.id }}" class="btn btn-warning px-3">
                                            შესახებ
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% if current_user.is_authenticated %}
                        <li class="list-group-item">
                            <a href="{{ url_for('add_to_wish_list', product_id=product.id) }} ">
                                <button type="submit" class="btn btn-primary">
                                    Add to Wishlist
                                </button>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
